* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p{
  font-size: 14px;
}

.container-form{
  background-color: #2c2e3e;
  border: 2px solid #4c465a;
  border-radius: 20px;
  color: #FFF;
  box-shadow: 0px 5px 20px #308c88;
}

.container-form .row {
  padding: 10px;
}

.previousText{
  color: #308C88;
 }
 
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    color: #FFF;
  }
  
  .pagination li {
    margin: 0px 5px;
    display: inline-block;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination .activePagination {
    color: #fff;
    font-weight: bold;
    background-color: #8d7f84 ;
  }

  .previousClass{
    color: black !important;
  }


  .logoNavbar{
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
  }

  /* TOMBOL */
  .btn-tambahData {
    background-color: #308C88;
    color: #FFF;
    border-radius: 10px;
    font-size: 12px;
  }

  .linkButtonTambahData :hover{
    background-color:#9CADBC;
    color: #FFF;
  }

  .dropdown{
    position: relative;
    left: 90%;
  }

  .listDataTuris{
    border: 2px solid #bdbdbd;
    border-radius: 30px;
  }

  .btn-detail{
    background-color: #9135f6;
    color: #FFF;
  }

  .linkButtonDetail :hover{
    background-color: #BCF88E;
    color: #303135;
  } 

  .linkButtonDetail :active {
    background-color: #2c2e3e;
    color: #303135;
  }

  .btn-delete{
    background-color:#fe6e6f;
    color: #fff;
  }

  .linkButtonDelete :hover{
    background-color:#D19FA0;
    color: #303135;
  }

  .linkButtonDelete :active{
    background-color:#2c2e3e;
    color: #303135;
  }

  .btn-edit{
    background-color: #f19632;
    color: #FFF;
  }

  .linkButtonEdit :hover{
    background-color: #B08C19;
    color: #303135;
  } 

  .linkButtonEdit :active{
    background-color: #2c2e3e;
    color: #303135;
  } 

  .btn-kembali{
    color: #fff;
  }

  .btn-kembali :hover{
    color: #308C88;
  }
  /* End Tombol */

/* LG */
  @media (max-width: 1200px) {
  p{
    font-size: 0.8em;
  }

  .btn-detail{
      font-size: 0.8em;
  }

  .btn-delete{
    font-size: 0.8em;
  }
  
  .btn-edit{
    font-size: 0.8em;
  }
  }

  /* MD */
  @media (max-width: 992px) {
    p{
      font-size: 0.7em;
    }

    .container-form .row {
      padding: 0px;
    }
  
    .btn-detail{
        font-size: 0.7em;
    }
    .btn-delete{
      font-size: 0.7em;
    }
    .btn-edit{
      font-size: 0.7em;
    }

    .pagination {
      font-size: 0.7em;
    }
    
    .dropdown{
      position: relative;
      left: 85%;
    }
  }


    @media (max-width: 868px) {
      p{
        font-size: 0.6em;
      }
  
      .btn-detail{
          font-size: 0.6em;
      }

      .btn-delete{
        font-size: 0.6em;
      }

      .btn-edit{
        font-size: 0.6em;
      }
  
      .pagination {
        font-size: 0.6em;
      }
      
    }

      @media (max-width: 821px) {
        .btn-detail{
            font-size: 0.35em;
        }
  
        .btn-delete{
          font-size: 0.35em;
        }
  
        .btn-edit{
          font-size: 0.35em;
        }
      }

      /* SM */
      @media (max-width: 768px) {
        .btn-tambahData {
          font-size: 10px;
        }
        .logoNavbar{
          position:relative;
          left: 0%; 
          transform: translateX(0%); 
          width: 8%;
        }
        .dropdown{
          position: relative;
          left: 0%;
        }
        .dropdown-item{
          font-size: 0.6em;
        }
      }

      /* XS */
      @media (max-width: 576px) {
        .textCaptionUtama{
          /* text-shadow: 2px 2px 5px #308c88; */
          text-shadow:  0px 5px 20px #308c88;
          color: #fff;
        }

        .logoNavbar{
          width: 10%;
        }
       
        .listDataTuris{
          border: 2px solid #bdbdbd;
          border-radius: 10px;
          color: #fff;
        }

        p{
          font-size: 0.7em;
        }
    
        .btn-detail{
            font-size: 0.7em;
        }
  
        .btn-delete{
          font-size: 0.7em;
        }
  
        .btn-edit{
          font-size: 0.7em;
        }
    
        .pagination {
          font-size: 0.7em;
        }
        
      }
  
     

   