/* Add this CSS to your styles */

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    color: black;
  }
  
  .pagination li {
    margin: 0px 5px;
    display: inline-block;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination .activePagination {
    color: #303135;
    font-weight: bold;
    background-color: #8d7f84 ;
  }

  .previousClass{
    color: black !important;
  }


  .logoNavbar{
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
  }


  /*  */
  .btn-tambahData {
    background-color: #6496BA;
    color: #FFF;
    border-radius: 10px;
  }

  .linkButtonTambahData :hover{
    background-color:#9CADBC;
    color: #FFF;
  }

  .dropdown{
    position: relative;
    left: 90%;
  }

  .listDataTuris{
    border: 2px solid #bdbdbd;
    padding: 2px 0px;
    border-radius: 30px;
  }

  .btn-detail{
    background-color: #85F3B1;
    color: #303135;
  }

  .linkButtonDetail :hover{
    background-color: #BCF88E;
    color: #303135;
  } 

  .linkButtonDetail :active {
    background-color: white;
    color: #303135;
  }

  .btn-delete{
    background-color:#eda75f;
    color: #303135;
  
  }

  .linkButtonDelete :hover{
    background-color:#fbecdc;
    color: #303135;
  }

  .linkButtonDelete :active{
    background-color:white;
    color: #303135;
  }

  .btn-edit{
    background-color: #8ba5c6;
    color: #303135;
  }

  .linkButtonEdit :hover{
    background-color: #dce5ee;
    color: #303135;
  } 

  .linkButtonEdit :active{
    background-color: white;
    color: #303135;
  } 

 